<h1>Area to Target:</h1>

<div class="selectionWrap">
    <a class="selection" id="upperWorkouts" href="#/intensity" ng-click="currentWorkout(upperWorkouts)">UPPER</a>
  </div>
  <div class="selectionWrap">
    <a class="selection" id="lowerWorkouts" href="#/intensity" ng-click="bodySectionSelect(lowerWorkouts)">LOWER</a>
  </div>
  <div class="selectionWrap">
    <a class="selection" id="coreWorkouts" href="#/intensity" ng-click="bodySectionSelect(coreWorkouts)">CORE</a>
  </div>
  <div class="selectionWrap">
    <a class="selection" id="fullBodyWorkouts" href="#/intensity" ng-click="bodySectionSelect(fullBodyWorkouts)">FULL BODY</a>
  </div>