<h1>Area to Target:</h1>

<div class="selectionWrap">
    <a href="#/intensity" class="selection" id="upperWorkouts" ng-click="getCurrentWorkout(upperWorkouts)">UPPER</a>
  </div>
  <div class="selectionWrap">
    <a href="#/intensity" class="selection" id="lowerWorkouts" ng-click="getCurrentWorkout(lowerWorkouts)">LOWER</a>
  </div>
  <div class="selectionWrap">
    <a href="#/intensity" class="selection" id="coreWorkouts" ng-click="getCurrentWorkout(coreWorkouts)">CORE</a>
  </div>
  <div class="selectionWrap">
    <a href="#/intensity" class="selection" id="fullBodyWorkouts" ng-click="getCurrentWorkout(fullBodyWorkouts)">FULL BODY</a>
  </div>