<h1>Intensity Level:</h1>

<div class="selectionWrap">
  <a class="selection" id="beginnerDuration" href="#/workout" ng-click="workoutDuration = beginnerDuration; logDuration()">BEGINNER</a>
</div>
<div class="selectionWrap">
  <a class="selection" id="averageDuration" href="#/workout" ng-click="workoutDuration = averageDuration; logDuration()">AVERAGE</a>
</div>
<div class="selectionWrap">
  <a class="selection" id="proDuration" href="#/workout" ng-click="workoutDuration = proDuration; logDuration()">PRO</a>
</div>
<div class="selectionWrap">
  <a class="selection" id="insaneDuration" href="#/workout" ng-click="workoutDuration = insaneDuration; logDuration()">INSANE</a>
</div>