<h1>Intensity Level:</h1>

<div class="selectionWrap">
  <a href="#/workout" class="selection" id="beginnerDuration" ng-click="getWorkoutDuration(beginnerDuration)">BEGINNER</a>
</div>
<div class="selectionWrap">
  <a href="#/workout" class="selection" id="averageDuration" ng-click="getWorkoutDuration(averageDuration)">AVERAGE</a>
</div>
<div class="selectionWrap">
  <a href="#/workout" class="selection" id="proDuration" ng-click="getWorkoutDuration(proDuration)">PRO</a>
</div>
<div class="selectionWrap">
  <a href="#/workout" class="selection" id="insaneDuration" ng-click="getWorkoutDuration(insaneDuration)">INSANE</a>
</div>